{% for item in combined_config_flat.modules_order %}
{
  "parameters": {
    "source": "localFile",
    "workflowPath": "{{ item | join('/') }}/main.json",
    "options": {}
  },
  "name": "Execute {{ item }} Workflow",
  "type": "n8n-nodes-base.executeWorkflow",
  "typeVersion": 1,
  "position": [{{ 660 + (loop.index0 * 200) }}, 340],
  "id": "{{ node_uuids[loop.index0] }}"
}{% if not loop.last %},{% endif %}
{% endfor %}
