  {
    "parameters": {
      "httpMethod": "POST",
      "path": "webhook",
      "responseMode": "onReceived",
      "responseData": "allEntries",
      "options": {}
    },
    "name": "Webhook",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 1,
    "position": [460, 240],
    "id": "{{webhook_uuid}}"
  }